DC_MYSQL_LOCAL_PORT=3306
DC_MYSQL_PATH_VOLUME=/home/silas/Documentos/Projects/Docker/MySQL/Volumes/PHP-SimpleBackend1
DC_MYSQL_ROOT_PASSWORD=segredo
DC_MYSQL_CONTAINER_NAME=mysql-80

DC_APACHE_LOCAL_PORT=8888
DC_APACHE_PATH_VOLUME=./build
DC_APACHE_CONTAINER_NAME=PHP-Simple-Backend1
